.body {
    font: bold;
}

.vote {
  cursor:pointer;
  cursor:hand;
  height: 13px;
  width: 15px;
  display:inline-block;
}

.vote:active {
    padding-top:2px;
}

.artist {
  font-size:small;
}

.title {
  cursor:pointer;
  cursor:hand;
}

.title:hover {
  font-weight: bold;
}

.rating {
  font: normal x-small verdana,arial,helvetica,sans-serif;
  display:inline;
  font-weight: bold;
  font-size: small;
  text-align: center;
  color: #c6c6c6;
}

.played {
  font: normal small verdana,arial,helvetica,sans-serif;
}